
.ipynb_checkpoints/Projet-info-checkpoint.ipynb
.ipynb_checkpoints/exemple_kd_tree-checkpoint.ipynb
.ipynb_checkpoints/Projet-info-samuel-checkpoint.ipynb
.ipynb_checkpoints/essai_spark-checkpoint.ipynb
data.csv
